<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Assignments to Kasms" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
<!- Try building a new body here with jinja ->
<div class="px-5 py-5 mx-auto">
  <table id="assignments" class="table">
    <thead>
      <tr>
        <th>Server</th>
        <th>Username</th>
        <th>Last Session</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for server, users in users_per_server.items() %} {% for user in users
      %}
      <tr>
        <td>{{ server }}</td>
        <td>{{ user["username"] }}</td>
        <td>{{ user["last_session"] }}</td>
        <td>
          <!-- Add a form to encapsulate the password input field and submit button -->
          <form
            method="POST"
            action="{{ url_for('delete_user', server=server, username=user['username']) }}"
          >
            <button class="delete-btn" type="button">Delete</button>
            <!-- Add a password input field (hidden by default) -->
            <input
              type="password"
              class="password-input"
              name="password"
              placeholder="Enter Password"
              style="display: none"
            />
            <!-- Add a submit button (hidden by default) -->
            <button type="submit" class="submit-btn" style="display: none">
              Submit
            </button>
          </form>
        </td>
      </tr>
      {% endfor %} {% endfor %}
    </tbody>
  </table>
  <script>
    $("#assignments").DataTable();

    const deleteButtons = document.querySelectorAll(".delete-btn");
    deleteButtons.forEach(function (button) {
      button.addEventListener("click", function () {
        // Show the password input field for this row
        const passwordInput =
          button.parentElement.querySelector(".password-input");
        passwordInput.style.display = "block";

        // Show the submit button for this row
        const submitButton = button.parentElement.querySelector(".submit-btn");
        submitButton.style.display = "block";
      });
    });
  </script>
</div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %} {% endblock %}
